.home {
    background-image: url('https://pixabay.com/photos/desert-birds-dunes-sunset-sand-8592629/');
    background-size: cover;
    /* Позволяет изображению покрывать весь фон */
    background-position: center;
    /* Центрирует изображение */
    background-repeat: no-repeat;
    /* Убирает повторение изображения */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: blue;
    font-size: 2rem;
}

.fild {
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}