.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Высота 100% высоты экрана */
    background-color: #f0f0f0;
}

.home img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: blue;
    font-size: 2rem;
}

.fild {
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}