.container {
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.item {
    color: gray;
}

.title {
    color: white;
}

.number {
    color: aliceblue;
}

.btn {
    color: blue;
    border-radius: 15px;
    align-items: center;
}

.contact {
    background-color: red;
}